@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    background-color: #20364b; 
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 0 100px 0 100px;
  }

  h1 {
    color: #65ebe4;
    font-size: 42px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 25px;
  }

  p {
    color: aliceblue;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    
    text-align: center;
  }
  
  img {
    width: 70px;
    margin-bottom: 10px;
  }

  .email {
    margin: 30px 0 15px 0;
    font-size: 18px;
    font-weight: 300;
  }

  a {
    color: #65ebe4;
    text-decoration: underline;
    cursor: pointer;
  }

  @media(max-width: 500px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        padding: 0 15px 0 15px;
    }
    img {
        width: 100px;
    }
    h1 {
        color: #65ebe4;
        font-size: 25px;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 25px;
      }
    
      p {
        color: aliceblue;
        font-size: 18px;
        margin: 0;
        text-align: center;
      }

      p .email {
        font-size: 15px;
      }
  }